# Ignore node_modules in root
node_modules/
.gitignore

# Ignore node_modules in frontend
server/node_modules/

# Ignore any compiled or build output
build/
dist/
*.log

# Ignore environment-specific files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore JetBrains IDE settings
.idea/

# Ignore Visual Studio Code settings
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore logs
logs/

# Ignore user-specific files
*.iml
*.DS_Store

# Ignore npm debug log
npm-debug.log*

# Ignore yarn error log
yarn-error.log
